In [1]:
import pdfplumber
import pandas as pd

# Abrir o PDF gerado
with pdfplumber.open("dados/tabela_exemplo_vendas.pdf") as pdf:
    page = pdf.pages[0]
    table = page.extract_table()

# Converter para DataFrame
df = pd.DataFrame(table[1:], columns=table[0])
display(df)

CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox

         Produto Quantidade Preço Unitário Total
0       Notebook          2           3500  7000
1          Mouse         10             40   400
2        Monitor          3            900  2700
3        Teclado          5            120   600
4  Cadeira Gamer          1           1200  1200